<div class='contrib-row'>

<div class="contrib-box">
  <strong>Name:</strong> Paul Blesse<br>
  <strong>Affiliation:</strong> University of Bonn<br>
  
</div>


<div class="contrib-box">
  <strong>Name:</strong> Janis Dücker<br>
  <strong>Affiliation:</strong> University of Bonn<br>
  
</div>


<div class="contrib-box">
  <strong>Name:</strong> Mohamed Elmi<br>
  <strong>Affiliation:</strong> Tsinghua University<br>
  
</div>


<div class="contrib-box">
  <strong>Name:</strong> Nutsa Gegelia<br>
  <strong>Affiliation:</strong> JGU Mainz<br>
  
</div>


<div class="contrib-box">
  <strong>Name:</strong> Abhiram Kidambi<br>
  <strong>Affiliation:</strong> MPI-MiS Leipzig<br>
  <a href="mailto:kidambi@duck.com" title="Email"><i class="bi bi-envelope-fill"></i></a> <a href="https://abhirammk.github.io" title="Website" target="_blank"><i class="bi bi-globe2"></i></a><br>
</div>


<div class="contrib-box">
  <strong>Name:</strong> Albrecht Klemm<br>
  <strong>Affiliation:</strong> Uni. Sheffield<br>
  
</div>


<div class="contrib-box">
  <strong>Name:</strong> Pyry Kuusela<br>
  <strong>Affiliation:</strong> JGU Mainz<br>
  
</div>


<div class="contrib-box">
  <strong>Name:</strong> Michael Lathwood<br>
  <strong>Affiliation:</strong> U. New Hampshire<br>
  <a href="mailto:michael.lathwood@unh.edu" title="Email"><i class="bi bi-envelope-fill"></i></a> <a href="https://mjsltopological.space/" title="Website" target="_blank"><i class="bi bi-globe2"></i></a><br>
</div>


<div class="contrib-box">
  <strong>Name:</strong> Michael Stepniczka<br>
  <strong>Affiliation:</strong> Cornell<br>
  <a href="mailto:ms3296@cornell.edu" title="Email"><i class="bi bi-envelope-fill"></i></a><br>
</div>


<div class="contrib-box">
  <strong>Name:</strong> Duco van Straten<br>
  <strong>Affiliation:</strong> JGU Mainz<br>
  <a href="https://www.agtz.mathematik.uni-mainz.de/algebraische-geometrie/van-straten/" title="Website" target="_blank"><i class="bi bi-globe2"></i></a><br>
</div>


<div class="contrib-box">
  <strong>Name:</strong> John Voight<br>
  <strong>Affiliation:</strong> U. Sydney<br>
  
</div>


<div class="contrib-box">
  <strong>Name:</strong> Alex Weisse<br>
  <strong>Affiliation:</strong> MPIM Bonn<br>
  <a href="mailto:example@example.com" title="Email"><i class="bi bi-envelope-fill"></i></a><br>
</div>

</div>